# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\software-architecture\workspace\BookApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
